@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-beVietnamPro: 'Be Vietnam Pro', sans-serif
}

html {
  @apply text-[80%] sm:text-[90%] md:text-[100%];
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-beVietnamPro);
}

.flag-size {
  @apply w-[40px] h-[30px] sm:w-[60px] sm:h-[40px]
}

.pagination-button {
  @apply bg-blackTheme2 text-whiteTheme text-sm px-3 py-2 rounded-xl disabled:bg-transparent disabled:text-blackTheme2;
}
