@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-beVietnamPro: 'Be Vietnam Pro', sans-serif
}


body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-beVietnamPro);
}

select option {
  max-width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@theme {
  --breakpoint-xs: 480px;
}